@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 180px 1fr;
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-left: 4rem;
  justify-items: stretch;
  align-items: center;
  background-color: silver;
  box-shadow: 0 0 10px 0 black;
}

.heading {
  font-size: 2.5rem;
  font-weight: 650;
}
.button > button,
.btns > button {
  height: 3rem;
  width: 7rem;
  font-size: 1rem;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 black;
}

.button > button:hover {
  background-color: white;
  height: 3.5rem;
  width: 7.5rem;
}

.main {
  display: grid;
  /* background-color: rgb(218, 206, 225); */
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0 1px 0 black, 0 0 4px 0 gray;
}
.cards {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 44, 44);
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  justify-content: space-around;
  box-sizing: border-box;
  align-content: center;
  height: 15rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px blue;
}

dialog:open {
  background-color: grey;
  margin: 10rem 10rem 0rem 38rem;
  display: flex;
  height: 20rem;
  width: 44rem;
  border-radius: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

label > input {
  height: 1.5rem;
  width: 12rem;
}
.name,
.stats,
.btns {
  padding: 4px;
  grid-column: 1/-1;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.btns > button:hover {
  background-color: white;
  border: 1px solid black;
  height: 3.2rem;
  width: 7.2rem;
}

.button {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}
